pyro-ppl
numpyro
pymc3
flair
spacy
stanza
jupyter
jupyterlab
matplotlib
seaborn
numpy
scipy
pandas
modin[dask]
scikit-image
scikit-learn
torch
torchfile
torchsummary
torchtext
torchvision
tensorwatch
tqdm
captum
pip-review
